<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bcmystockapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bcmystockapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bcmystock</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BCMYStockAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BCMY.WebAPI.Models.ApplicationDbContext, BCMY.WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BCMYEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=77.73.5.221,3306;Initial Catalog=BCMY;Persist Security Info=True;User ID=sa;Password=Ch0c0BunnyT@sty999" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess_EF.EntityFramework.BCMYEntities, DataAccess_EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BCMY_StockEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=77.73.5.221,3306;Initial Catalog=BCMY_Stock;Persist Security Info=True;User ID=sa;Password=Ch0c0BunnyT@sty999" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess_EF.EntityFramework.BCMY_StockEntities, DataAccess_EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BCMYEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EntityFramework.BcmyModel.csdl|res://*/EntityFramework.BcmyModel.ssdl|res://*/EntityFramework.BcmyModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=77.73.5.221,3306;Initial Catalog=BCMY;Persist Security Info=True;User ID=sa;Password=Ch0c0BunnyT@sty999"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BCMY_StockEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EntityFramework.BcmyStockModel.csdl|res://*/EntityFramework.BcmyStockModel.ssdl|res://*/EntityFramework.BcmyStockModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=77.73.5.221,3306;Initial Catalog=BCMY_Stock;Persist Security Info=True;User ID=sa;Password=Ch0c0BunnyT@sty999"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>