body {
    /*text-align:center;*/
}

.fontWeightNormal {
    font-weight: normal;
}

.fontWeightBold {
    font-weight: bold;
}

.darkBlueFont {
    color:darkblue;
    font-weight: normal;
}


.formSection {
    border:solid 1px grey;
    /*padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 10px;*/
}

.modal-title
{
    font-weight: bold;
}

/* resposive table for firefox */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.successLabel {
    color:blue !important;
}

.errorLabel {
    color:red !important;
}

.errorBorder{
    border-style: solid !important;
    border-color: red !important;
    border-width: thin !important;
}

.panel-heading {
    cursor: pointer;
    padding: 0px 0px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.is-hidden{
  display:none!important;
  visibility: hidden;
}

.datePickerLbl {
    padding-top:10px;
}


/*.productInfo {
}*/
